% setdefault('napaka', '')
% setdefault('naslov', 'Dodaj zaposlenega')
% rebase('base.html', napaka=napaka, naslov=naslov)

<form action="{{url('dodaj_zaposlenega')}}" method="post" autocomplete="off">
  <div>
    <input type = "radio" name = "tip" value = "zaposleni"> Vpisujem zaposlenega v skladu z zakonom o varovanju osebnih podatkov.
  </div>
  <!-- <div class="form-row">
      <div class="form-group col-md-6">
        <label for="id">Id</label>
        <input id="zaposleni_id" name="zaposelni_id" type="text" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
  </div> -->
  <div class="form-row">
      <div class="form-group col-md-6">
        <label for="ime">Ime</label>
        <input id="ime" name="ime" type="text" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">
        <label for="priimek">Priimek</label>
        <input id="priimek" name="priimek" type="text" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="naziv">Naziv</label>
      <input id="naziv" name="naziv" type="text" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Obvezno polje')"
        />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="telefonska_stevilka">Telefonska številka</label>
      <input id="telefonska_stevilka" name="telefonska_stevilka" type="text" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Obvezno polje')"
        />
    </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input id="email" name="email" type="text" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="mesto">Mesto stalnega prebivališča:</label>
        <input id="mesto" name="mesto" type="text" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="posta">Poštna številka:</label>
        <input id="posta" name="posta" type="text" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="drzava">Država:</label>
        <input id="drzava" name="drzava" type="text" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
          <label for="hotel">Izberi hotel:</label>
          <select name="hotel" id="hotel">
            %for id, ime in hoteli:
            <option value="{{id}}">{{ime}}</option>
            %end
          </select>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-group col-md-6">
          <label for="oddelek">Izberi oddelek:</label>
          <select name="oddelek" id="oddelek">
            %for id, ime in oddelki:
            <option value="{{id}}">{{ime}}</option>
            %end
          </select>
      </div>
    </div>
    
    <div>
      <p><input type="submit" value="Dodaj zaposlenega"></p>
    </div>
    </div>
  </form>