% setdefault('napaka', '')
% setdefault('naslov', 'Seznam gostov')
% rebase('base.html', napaka=napaka, izbrani_zavihek='gostje')


<table id="izpis" class="table table-striped"> <a class="btn btn-primary" href="{{url('dodaj_gosta')}}"role="button">Dodaj gosta</a> <a class="btn btn-primary" href="{{url('izbrisi_gosta')}}"role="button">Izbriši gosta</a>
    <tr>
      <th>Ime in priimek</th>
      <th>Naslov</th>
      <th>Telefonska številka</th>
      <th>E-mail</th>
    </tr>
    %for (ime,priimek,telefonska_stevilka,email,mesto,posta,drzava) in gostje:
    <tr>
      <td>{{ime}} {{priimek}}</td>
      <td>{{mesto}} {{posta}} {{drzava}}</td>
      <td>{{telefonska_stevilka}}</td>
      <td>{{email}}</td>
    </tr>
    %end
  </table>