% setdefault('napaka', '')
% setdefault('naslov', 'Dodajanje transporta')
% rebase('osnova.html')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end

  <form action="{{'/gostje/dodaj'}}" method="POST">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="ime">ID novega transporta:</label>
        <input id="ime" name="ime" type="text" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="priimek">Vrsta:</label>
        <input id="priimek" name="priimek" type="text" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="telefonska_stevilka">Cena:</label>
        <input id="telefonska_stevilka" name="telefonska_stevilka" type="integer" class="form-control" required
          oninput="this.setCustomValidity('')"
          oninvalid="this.setCustomValidity('Obvezno polje')"
          />
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
          <label for="email">Vrsta:</label>
          <input id="email" name="email" type="text" class="form-control" required
            oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Obvezno polje')"
            />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
          <label for="nasov_id">Vrsta:</label>
          <input id="naslov_id" name="naslov_id" type="integer" class="form-control" required
            oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Obvezno polje')"
            />
        </div>
    </div>
    <div class="form-row col">
      <button class="btn btn-info" type="submit">
        Dodaj nov transport
      </button>
    </div>
  </form>