% setdefault('napaka', '')
% setdefault('naslov', 'Seznam hotelskih verig')
% rebase('base.html', napaka=napaka, izbrani_zavihek='hotelska_veriga')

<table id="izpis" class="table table-striped">
  <tr>
    <th>Ime</th>
    <th>Naslov glavne pisarne</th>
    <th>E-mail</th>
    <th>Spletna stran</th>
  </tr>
  %for (ime_hotelske_verige, mesto, posta, drzava, email_hotelske_verige, spletna_stran) in hotelska_veriga:
  <tr>
    <td>{{ime_hotelske_verige}}</td>
    <td>{{mesto}} {{posta}} {{drzava}}</td>
    <td>{{email_hotelske_verige}}</td>
    <td>{{spletna_stran}}</td>
  </tr>
  %end
</table>