% setdefault('napaka', '')
% setdefault('naslov', 'Seznam sob')
% rebase('base.html', napaka=napaka, izbrani_zavihek='sobe')

<table id="izpis" class="table table-striped"><a class="registerbtn" href="{{url('rezerviraj_sobo')}}"role="button">Seznam rezerviranih sob</a>
    <tr>
      <th>Hotel</th>
      <th>Številka sobe</th>
      <th>Opis sobe</th>
    </tr>
    %for (stevilka_sobe, ime_hotela, tip_sobe_opis) in sobe:
    <tr>
      <td>{{ime_hotela}}</td>
      <td>{{stevilka_sobe}}</td>
      <td>{{tip_sobe_opis}}</td>
    </tr>
    %end
</table>