% setdefault('napaka', '')
% setdefault('naslov', 'Koristi hotelsko storitev')
% rebase('base.html', napaka=napaka, naslov=naslov)

<form action="{{url('uporabi_storitev')}}" method="post" autocomplete="off">

    
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="rezervacije_id">Id rezervacije</label>
      <input id="rezervacije_id" name="rezervacije_id" type="number" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Obvezno polje')"
        />
    </div>
</div>


<div class="form-row">
  <div class="form-group col-md-6">
    <label for="hotelske_storitve_id">Hotelska storitev</label>
    <select name="hotelske_storitve_id" id="hotelske_storitve_id">
      %for id, naziv_storitve in nazivi:
      <option value="{{id}}">{{naziv_storitve}}</option>
      %end
    </select>
  </div>
</div>


  
  <div>
    <p><input type="submit" value="Koristi hotelsko storitev"></p>
  </div>
  </div>
</form>