%rebase('osnova.html', naslov='Duzo Restavracija')
<img src="prijava.jpg" alt="Dostava hrane" width=400> 
<br>
%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end
<br>
<form action="{{url('prijava')}}" method="POST">
    <p>Uporabniško ime: <input class="form-control" style="height:30px; width:200px" type="text" name="uporabnisko_ime" value="{{uporabnisko_ime}}"></p>
    <br>
    <p>Geslo: <input class="form-control" style="height:30px; width:200px" type="password" name="geslo" value="{{geslo}}"></p>
    <br>
    <p><input  class="btn btn-primary" style="width:200px" type="submit" value="Prijavi se"></p>
    </form>      

    <td align="center">
      <br>
      <p>
        <a href="{{url('registracija')}}" class="btn btn-outline-primary">Registracija</a>
      </p>
    </td> 
  </tr>