% setdefault('napaka', '')
% setdefault('naslov', 'Seznam zaposlenih')
% rebase('base.html', napaka=napaka, izbrani_zavihek='zaposleni')

<table id="izpis" class="table table-striped">
  <tr>
    <th>Ime</th>
    <th>Priimek</th>
    <th>Naziv</th>
    <th>Naslov</th>
    <th>Hotel</th>
    <th>Oddelek</th>
  </tr>
  %for (ime,priimek,naziv,oddelek_id,mesto,posta,drzava,ime_hotela) in zaposleni:
  <tr>
    <td>{{ime}}</td>
    <td>{{priimek}}</td>
    <td>{{naziv}}</td>
    <td>{{mesto}} {{posta}} {{drzava}}</td>
    <td>{{ime_hotela}}</td>
    <td>{{oddelek_id}}</td>
  </tr>
  %end
</table>